In [ ]:
class Ward:
  def __init__(self,name):
    self.name = name
    self.resident = []
  def add_person(self,person):
    self.resident.append(person)
  def describe(self):
    print(f"Ward Name: {self.name}")
    if len(self.resident) != 0:
      for i in self.resident:
        print(i.describe())
    else:
      print("không có người ở")
  def count_doctor(self):
    doctors = []
    for i in self.resident:
      if isinstance(i,Doctor):
        doctors.append(i)
    return len(doctors)
  def sort_age(self):
    self.resident.sort(key=lambda x: x.yob, reverse = True)
  def compute_average(self):
    total = 0
    teachers = 0
    for i in self.resident:
      if isinstance(i,Teacher):
        teachers += 1
        total+=i.yob
    return total/teachers
class Person:
  def __init__(self,name,yob):
    self.name = name
    self.yob = yob
  def describe(self):
    return f"Name: {self.name} - Yob: {self.yob}"
class Student(Person):
  def __init__(self,name,yob,grade):
    super().__init__(name,yob)
    self.grade = grade
  def describe(self):
    return f"Student - {super().describe()} - Grade: {self.grade}"
class Teacher(Person):
  def __init__(self, name, yob,subject):
    super().__init__(name, yob)
    self.subject = subject
  def describe(self):
    return f"Teacher - {super().describe()} - Subject: {self.subject}"
class Doctor(Person):
  def __init__(self, name, yob,specialist):
    super().__init__(name, yob)
    self.specialist = specialist
  def describe(self):
    return f"Doctor - {super().describe()} - Specialist: {self.specialist}"

A)

In [ ]:
student1 = Student( name ="studentA", yob =2010 , grade ="7")
student1 . describe ()
teacher1 = Teacher ( name ="teacherA", yob =1969 , subject ="Math")
teacher1 . describe ()
doctor1 = Doctor ( name ="doctorA", yob =1945 , specialist ="Endocrinologists")
doctor1 . describe ()

'Doctor - Name: doctorA - Yob: 1945 - Specialist: Endocrinologists'

B)

In [ ]:
teacher2 = Teacher ( name =" teacherB ", yob =1995 , subject =" History ")
doctor2 = Doctor ( name =" doctorB ", yob =1975 , specialist =" Cardiologists ")
ward1 = Ward ( name =" Ward1 ")
ward1 . add_person ( student1 )
ward1 . add_person ( teacher1 )
ward1 . add_person ( teacher2 )
ward1 . add_person ( doctor1 )
ward1 . add_person ( doctor2 )
ward1 . describe ()

Ward Name:  Ward1
Student - Name: studentA - Yob: 2010 - Grade: 7
Teacher - Name: teacherA - Yob: 1969 - Subject: Math
Teacher - Name:  teacherB  - Yob: 1995 - Subject:  History
Doctor - Name: doctorA - Yob: 1945 - Specialist: Endocrinologists
Doctor - Name:  doctorB  - Yob: 1975 - Specialist:  Cardiologists

C)

In [ ]:
print(f"Number of doctors : { ward1.count_doctor()}")

Number of doctors : 2

D)

In [ ]:
ward1 . sort_age ()
ward1 . describe ()

Ward Name:  Ward1
Student - Name: studentA - Yob: 2010 - Grade: 7
Teacher - Name:  teacherB  - Yob: 1995 - Subject:  History
Doctor - Name:  doctorB  - Yob: 1975 - Specialist:  Cardiologists
Teacher - Name: teacherA - Yob: 1969 - Subject: Math
Doctor - Name: doctorA - Yob: 1945 - Specialist: Endocrinologists

E)

In [ ]:
print ( f"\ nAverage year of birth ( teachers ): { ward1 . compute_average ()}")

\ nAverage year of birth ( teachers ): 1982.0